.contacts__section {
  padding: 150px 0;
}

.contacts {
  display: flex;
  flex-direction: row;
  gap: 104px;
  margin-top: 74px;
}

.contacts__details {
  position: relative;
  font-size: 58px;
  font-weight: 400;
  line-height: 60px;
  color: rgb(18, 18, 18);
  text-decoration: none;
}

.contacts__details:hover {
  opacity: 0.5;
  text-decoration: underline;
}

.phone::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  top: -50px;
  left: -5px;
  background-image: url(/resources/iphone.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mail::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  top: -50px;
  left: -5px;
  background-image: url(/resources/mail.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 960px) {
  .contacts__section {
    padding-top: 120px;
    padding-bottom: 80px;
  }

  .contacts {
    gap: 114px;
  }

  .contacts__details {
    font-size: 45px;
    line-height: 133%;
  }
}

@media (max-width: 640px) {
  .contacts__section {
    padding: 80px 0;
  }

  .contacts {
    flex-direction: column;
    margin-top: 58px;
  }

  .contacts__details {
    font-size: 35px;
    line-height: 130%;
  }

  .mail::before {
    width: 18px;
    height: 18px;
    top: -38px;
    left: -2px;
  }

  .phone::before {
    width: 18px;
    height: 18px;
    top: -38px;
    left: -2px;
  }
}
