.contacts__section {
  padding: 150px 0;
}

.contacts {
  display: flex;
  flex-direction: row;
  gap: 104px;
  margin-top: 74px;
}


.contacts__phone,
.contacts__tg {
  position: relative;
  font-size: 58px;
  font-weight: 400;
  line-height: 60px;

  color: rgb(18, 18, 18);
  text-decoration: none;
}

.contacts__phone:hover,
.contacts__tg:hover {
  opacity: 0.5;
  text-decoration: underline;
}

.contacts__phone::before,
.contacts__tg::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  top: -50px;
  left: -5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__phone::before {
  background-image: url("../resources/iphone.png");
}

.contacts__tg::before {
  background-image: url("../resources/mail.png");
}

@media (max-width: 960px) {
  .contacts__section {
    padding-top: 120px;
    padding-bottom: 80px;
  }

  .contacts {
    gap: 114px;
  }

.contacts__phone,
.contacts__tg  {
    font-size: 40px;
    line-height: 133%;
  }
}

@media (max-width: 640px) {
  .contacts__section {
    padding: 80px 0;
  }

  .contacts {
    flex-direction: column;
    gap: 58px;
  }

  .contacts__phone,
  .contacts__tg  {
    font-size: 35px;
    line-height: 130%;
  }

  .contacts__tg::before {
    width: 18px;
    height: 18px;
    top: -38px;
    left: -2px;
  }

  .contacts__phone::before {
    width: 18px;
    height: 18px;
    top: -38px;
    left: -2px;
  }
}
