.gallery-section {
  position: relative;
  width: 100%;
}

.section-nopad {
  padding: 0;
}

.gallery__title-wrapper {
position: absolute;
left: 124px;
top: 67px;
width: 200px;
z-index: 100;
}

.gallery__title {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -0.03em;
  color: rgb(255, 255, 255);
}

.gallery__slides {
  position: relative;
  height: 717px;
  /* background-color: rgb(0, 0, 0); */
}

.gallery__slide {
  position: absolute;
  height: 100%;
  opacity: 0;
  inset: 0;
  object-fit: cover;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
}

.gallery__slide-active {
  opacity: 1;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__text-wrapper {
  position: absolute;
  width: 450px;
z-index: 100;
  left: 125px;
bottom: 60px;
}

.gallery__text {
  
font-weight: 400;
font-size: 30px;
letter-spacing: -0.03em;
color: rgb(255, 255, 255);
}

.gallery__btn {
  position: absolute; 
  width: 100%;
  bottom: 165px;
  z-index: 100;

}

.gallery__controls {
  display: flex;
  gap: 15px;
  margin-left: 125px;
  
}


.gallery__prev,
 .gallery__next {
  background: none;
  border: none;
  width: 20px;
  height: 34px;
  
   
} 

.gallery__prev {
  background-image: url("../resources/control.png");
  
}

.gallery__prev:hover {
  opacity: 0.5;
}

.gallery__next {
  background-image: url("../resources/control.png");
  transform: rotate(180deg);
}

.gallery__next:hover {
  opacity: 0.5;
}



@media (max-width: 960px) {

  .gallery__title-wrapper {
    left: 50px;
    top: 80px;
  }

  .gallery__title {
    font-size: 20px;
  }

  .gallery__text-wrapper {
    left: 50px;
    bottom: 80px;
  }

  .gallery__text {
    font-size: 25px;
  }

  .gallery__controls {
    margin-left: 51px;
  }


}

@media (max-width: 640px) {

  .gallery__image {
    height: 100%;
    object-fit: cover;
  }

  .gallery__btn {
    bottom: 50%;
  }

  .gallery__controls {
    width: 100%;
    padding: 0 14px;
    justify-content: space-between;
  }

  .gallery__title-wrapper {
    left: 12px;
    top: 61px;
  }

  .gallery__title {
    font-size: 14px;
  }

  .gallery__text-wrapper {
    left: 13px;
    bottom: 60px;
    width: 100%;
  }

  .gallery__text {
    font-size: 19px;
  }

   .gallery__controls {
    display: flex;
    justify-content: space-between;
    margin: 0;
   }



   

}