.header {
  padding-top: 33px;
  padding-bottom: 70px;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
   
  }
  
  .logo__link {
    display: inline-block;
  
  }
  
  .logo {
    display: block;
    width: 128px;
    height: 23px;
  }
  

  .header__nav-list {
    display: flex;
    gap: 55px;
  }
  
  .header__nav-link {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: black;
    text-decoration: none;
  }

  .header__nav-link:hover {
    opacity: 0.5;
    text-decoration: underline;
  }

  

  @media (max-width: 960px) {
      .header-nav {
        display: none;
      }

      
  }

  @media (max-width: 640px) {
    .logo {
      width: 97px;
      height: 16px;
    }
  }
  