.reviews__section {
  padding: 150px 0;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 50px;
}

.review {
  width: calc(50% - 25px);
}

.review:last-child:nth-child(2n + 1) {
  width: 75%;
}


.review__title {
  font-weight: 400;
  font-size: 45px;
  line-height: 61px;
  margin-bottom: 14px
}

.review__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: 960px) {
  .reviews {
    column-gap: 10px;
    row-gap: 80px;

  }

  .review {
    width: calc(50% - 5px);
  }

  .review:last-child:nth-child(2n + 1) {
    width: 75%;
  }


  .review__title {
    font-size: 35px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 25px;
  }

  .review__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
  }
}

@media (max-width: 640px) {

  .reviews {
    flex-direction: column;
  }

  .review {
    width: 100%;
  }

  .review:last-child:nth-child(2n + 1) {
    width: 100%;
  }

  .review__title {
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 10px;
  }

  .review__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }

}